<h2>User Info</h2>
<%= image_tag @user.get_image %>
<div class="user-info">
  <div class="user-name">name
      <%= @user.name %>
  </div>
  <div class="user-body">introduction
      <%= @user.introduction %>
  </div>
</div>
<%= link_to "Usershow", edit_user_path(@user.id) %>